{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2> All Tags</h2>
        <a href="/tags/new/" class="btn btn-primary">Create Tag</a>
        <div class="row mt-2">
            {% for tag in tags %}
                <div class="col-3">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <p class="card-title">{{ tag.title }}</p>
                            <a href="{{ url_for('tags.edit', tag_id=tag._id) }}" class="btn btn-primary btn-sm">Edit Tag </a>
                            <form method="POST" action="/tags/{{ tag._id }}/delete" class="d-inline mx-2">
                                <button class="btn btn-danger btn-sm" type="submit"> Delete</button>
                            </form>
                        </div>

                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}