{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center">
  <div class="p-12 flex-col justify-center items-center bg-gradient-to-b from-slate-300 to-slate-500 max-w-fit h-screen">
    <h2 class="text-5xl text-center my-5" style="letter-spacing: -5px; font-family: 'Cinzel Decorative', cursive; font-family: 'Lexend Peta', sans-serif; 
    font-weight: 500;"> Welcome Back</h2>
    <div class="flex justify-center text-center items-center">
      <div
        class="p-5 my-8 mx-2 border-2 rounded border-slate-900 flex flex-col justify-center text-center items-center bg-indigo-500/50 w-96 h-96 text-2xl">
        <h2 class="text-3xl m-3" style="letter-spacing: -4px; font-family: 'Cinzel Decorative', cursive; font-family: 'Lexend Peta', sans-serif; 
        font-weight: 500;  color: rgb(103, 232, 249);">Sign in</h2> <p> New to PLM? <br> Create an account <a href="/register"
            class="text-sky-500 underline decoration-black">here</a></p>
      </div>


      <div
        class="p-5 my-8 mx-2 border-2 rounded flex items-center justify-center border-slate-900 bg-sky-300/50 w-96 h-96 ">
        <!-- username -->
        <form method=POST action="{{ url_for('users.login') }}" class="flex flex-col justify-center items-center">
          <div class=" p-2 m-1">
            <input type="text" name="username" placeholder="Username"
              class="border border-slate-500 rounded bg-gray-100 p-1">
          </div>
          <!-- password -->
          <div class=" p-2 m-1">
            <input type="password" name="pass" placeholder="Password"
              class="border border-slate-500 rounded bg-gray-100 p-1">
          </div>
          <!-- button -->
          <div class=" p-2 m-1">
            <button type="submit" class="border border-gray-600 rounded-full bg-slate-500/50 p-2 m-1">Sign In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}