<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Lexend+Peta:wght@400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/d70a4d3a14.js" crossorigin="anonymous"></script>

    <title>Jam</title>
</head>
<body class="bg-gray-600">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li class="static bg-slate-500/30 text-black">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
    
    <!-- <script>
        tailwind.config = {
            theme: {
                colors:{
                    purplemain: 'rgba(100, 34, 240, 0.62)',
                    bluemain: '#27DEF6',
                    greybg: 'rgba(0, 0, 0, 0.56)',
                    purplelight: 'rgba(173, 123, 236, 0.56)',
                    greydetail:'rgba(67, 67, 67, 0.54)'

                }
            }
        }
    </script> -->
{% include "partials/nav.html" %}

{% block content %}
{% endblock %}



</body>
</html>