{% extends "base.html" %}

{% block content %}
<!-- thinking the playlist can just be on the home page? at least for now until we get more features implemented  -->
<!--
    something like {%for song in library%}
                    <hr>
                    <ul>
                        <li> {song.name} </li>
                        <li class="pull-right"> {song.title} {song.duration} </li>
                    </ul>
                    {% endfor %}
    just need to make sure it lines up with the back end

    Will try to send new logo ideas to the chat this weekend at some point
-->
<h1> Hello World </h1>

{% endblock %}