{% extends "base.html" %}

{% block content %}
    <div >
        <div class=" flex flex-col justify-center items-center bg-gradient-to-r from-sky-400 to-indigo-600">
            <h1 style="letter-spacing: -10px; font-family: 'Cinzel Decorative', cursive; font-family: 'Lexend Peta', sans-serif; 
            font-weight: 500; font-size: 800%;  color: rgb(103, 232, 249); text-shadow: -2px 2px 0px #1E19F2, -4px 4px 0px #000000;">PLM</h1>
                <p class="text-4xl p-2">Your Library, Your Genres, Your Playlists</p>
                <div class="m-5">
                    <div class="bg-white/40 p-6 rounded-md m-3 mr-16 px-10 w-full">
                        <h2 class=" p-3 text-3xl text-black" style=" text-shadow: -1px 1px 0px rgb(56, 189, 248);">Your library</h2>
                        <img src="/static/images/list.png" alt="library">
                        <p class="p-3 max-w-md"> To get started, <a href="#">begin building your library of songs</a> </p>
                    </div>

                    <div class="bg-white/40 p-6 rounded-md m-3 ml-24 grid justify-items-end pl-10 w-full">
                        <h2 class="p-3 text-3xl text-black" style="text-shadow: -1px 1px 0px rgb(55,48,163);">Your genres</h2>
                        <img src="/static/images/tag.png" style="max-height: 300px; max-width: 300px;" >
                        <p class="p-2 max-w-md text-right">You decide what kind of music you listen to, what category each song falls into. Music is subjective, and it's time we treated it as such</p>
                    </div>

                    <div class="bg-white/40 p-6 rounded-md m-3 mr-32 w-full px-10">
                        <h2 class="p-3 text-3xl text-black" style=" text-shadow: -1px 1px 0px rgb(69, 74, 77);">Your playlists</h2>
                        <img src="/static/images/generate.png" alt="">
                        <p class="p-2 max-w-md ">Generate custom Playlists based off your persnalized tags to make a list for anytime, any place. Set a few specifications, then leave the rest to us.</p>
                    </div>

                    <div class="bg-white/40 p-6 rounded-md m-3 ml-32 grid justify-items-end pl-10 w-full" >
                        <h2 class="p-3 text-3xl text-black" style="text-shadow: -1px 1px 0px rgb(55,48,163);">Your Friends</h2>
                        <img src="/static/images/friend.png" alt="" style="max-height: 300px; max-width: 300px;">
                        <p class="p-2 max-w-md text-right"> Send your friends your custom playlists and see their latest creations</p>
                    </div>
                </div>
                <!-- <a href="{{ url_for('users.login') }}" ><button class="bg-gray-500 border-2 border-black rounded-br-lg rounded-tl-lg p-2 hover:bg-gray-400">Join Now</button></a> -->
        </div>
        <!-- <div class="h-screen flex flex-col justify-center items-center bg-gradient-to-r from-sky-600 to-indigo-800">
           <h2 class="text-8xl"> Create custom tags</h2>
            <p>genres made by you, personalizing your playlist experience </p>
            <div style="width: 75%">
                
            </div>
        </div> -->
    </div>
{% endblock %}