{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Edit Song</h1>
        <form action="{{ url_for('songs.update', song_id=song._id) }}" method="POST">
            <div class="form-group mb-2">
                <label class="w-100">Name
                    <input type="text" class="form-control" placeholder="Song name" name="name"
                           value="{{ song.name }}" required>
                </label>
            </div>
            <div class="form-group mb-2">
                <label class="w-100">Artist
                    <input class="form-control" placeholder="Artist" name="artist"
                           value="{{ song.artist }}" required>
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}